*{
box-sizing:border-box;
margin:0;
padding:0;
}



body{
font-family:Arial, Helvetica, sans-serif;
background:#f5efe6;
}



header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 40px;
}


.logo{
font-size:28px;
font-weight:bold;
color:#6a2c1c;
}



.hero{
display:flex;
align-items:center;
justify-content:space-between;
padding:60px;
}




.hero-text{
max-width:450px;
}


.hero-text h1{
font-size:64px;
color:#6a2c1c;
line-height:1.1;
}



.buttons{
margin-top:30px;
}


.btn{
display:inline-block;
padding:15px 30px;
border-radius:30px;
font-weight:bold;
text-decoration:none;
margin-right:15px;
}


.btn-primary{
background:#e22200;
color:white;
}


.btn-secondary{
border:2px solid #6a2c1c;
color:#6a2c1c;
}




.hero-product{
text-align:center;
}


.hero-product img{
width:450px;
}


.product-title{
font-size:32px;
font-weight:bold;
color:#ff6a00;
}


.new{
background:#ff3b00;
color:white;
padding:10px 18px;
border-radius:50%;
display:inline-block;
font-weight:bold;
margin:10px 0;
}